#myModal .modal-body {
	color: #0480be;
	font-family: 'Helvetica', arial;
	height: 80em;
}

#myModal .close {
    color: #000000;
}

#myModal .modal-content  {
	width: 300px;
	height: 250px;
	position: fixed;
	top:180px;
}

#myModal .emailInput  {
	width: 200px;
	height: 30px;
}
#myModal .timeline  {
	display: inline;
}
